<div id="color-chooser" class="panel panel-default">
    <div class="panel-heading">
        <span>
            Color Picker
        </span>
        <span id="color-chooser-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            <div class="flipped">^</div>
        </span>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser blue-square" squareColor="blue"></div>
            <div class="col-md-2 btn color-chooser red-square" squareColor="red"></div>
            <div class="col-md-2 btn color-chooser yellow-square" squareColor="yellow"></div>
            <div class="col-md-2 btn color-chooser green-square" squareColor="green"></div>
            <div class="col-md-2 btn color-chooser orange-square" squareColor="orange"></div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
        <!-- hide the lower row by default, it gets shown with slideToggle() -->
        <div class="row js-lower-row" style="overflow: hidden; display: none">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser navy-square" squareColor="navy"></div>
            <div class="col-md-2 btn color-chooser teal-square" squareColor="teal"></div>
            <div class="col-md-2 btn color-chooser brown-square" squareColor="brown"></div>
            <div class="col-md-2 btn color-chooser pink-square" squareColor="pink"></div>
            <div class="col-md-2 btn color-chooser purple-square" squareColor="purple"></div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
